body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.wrapper {
  background: rgb(150, 208, 242);
  background: linear-gradient(
    90deg,
    rgb(205, 150, 242) 0%,
    rgba(189, 240, 249, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.mainParent {
  width: 350px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  /* -webkit-backdrop-filter: blur(4px); */
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* display section */
.result {
  border: 1px solid rgba(70, 69, 69, 0.363);
  border-radius: 10px;
  padding: 1rem;
  font-weight: bolder;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.items {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-template-areas:
    "clear clean divide multi"
    "no7 no8 no9 plus"
    "no4 no5 no6 minus"
    "no1 no2 no3 ans"
    "do no0 no0 ans";
}

.items > button {
  cursor: pointer;
  min-height: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: bold;
  border: none;
}

.items > button:hover {
  background: rgb(50, 47, 92);
  color: white;
  transform: scale(1.1);
  border: none;
  /* border-radius: 10px; */
}

.clear {
  grid-area: clear;
}
.clean {
  grid-area: clean;
}
.divide {
  grid-area: divide;
}
.multi {
  grid-area: multi;
}
.plus {
  grid-area: plus;
}
.minus {
  grid-area: minus;
}
.no-7 {
  grid-area: no7;
}
.no-8 {
  grid-area: no8;
}
.no-9 {
  grid-area: no9;
}
.no-4 {
  grid-area: no4;
}
.no-5 {
  grid-area: no5;
}
/* .no-5{grid-area:no} */
.no-6 {
  grid-area: no6;
}
.no-1 {
  grid-area: no1;
}
.no-2 {
  grid-area: no2;
}
.no-3 {
  grid-area: no3;
}
.no-0 {
  grid-area: no0;
}
.no-dot {
  grid-area: do;
}
.no-ans {
  grid-area: ans;
}

/* animation */
.prank {
  animation: shake 0.3s ease-in;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }

  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
